<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Seqwa Recommend with React and ExpressJS" />
    <link rel="manifest" href="/manifest.json" />
    <title>Seqwa | Recommend</title>
    <script defer="defer" src="/static/js/main.69643306.js"></script>
    <link href="/static/css/main.4528a52b.css" rel="stylesheet" />
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>